@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(247, 247, 247);
}

.container {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 40rem;
  border-radius: 7px;
  margin-top: 5rem;
  padding: 1rem;
}

form {
  margin-bottom: 1rem;
}

form input[type="text"] {
  width: 60%;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border: none;
}

form input[type="submit"] {
  background-color: blue;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: rgb(10, 10, 214);
}

.icon img {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-wrap: wrap;
}

.details > div {
  background-color: rgb(235, 234, 232);
  min-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 7px;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
